.video-icons {
  width: 2vw;
  height: 2vw;
  svg {
    width: 100%;
    height: 100%;
  }
}
.video-player-wrapper {
  position: relative;
  .video-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    .video {
      width: 100%;
      height: auto;

      &::-webkit-media-controls {
        display: none !important;
      }
      &::-moz-media-controls {
        display: none !important;
      }
      &::-ms-media-controls {
        display: none !important;
      }
    }
  }
  .video-control {
    position: absolute;
    bottom: 1.2%;
    width: 100%;
    .video-progress-bar {
    }
    .video-player-controls {
      display: flex;
      justify-content: space-between;
      width: 95%;
      margin: 0 auto;
      .player-controls-left {
        display: flex;
        align-items: center;
        gap: 1.4vw;
        .video-player-play {
          cursor: pointer;
        }
        .video-player-next {
          cursor: pointer;
        }
        .video-player-volume {
          cursor: pointer;
        }
        .video-player-time {
          color: #fff;
        }
      }
      .player-controls-right {
        .video-player-fullScreen {
          cursor: pointer;
        }
      }
    }
  }
}
