.input-range-wrapper {
  width: 100%;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .input-range-info {
    display: flex;
    justify-content: space-between;
    .input-range-placeholder {
    }
    .input-range-counter {
    }
  }
  .input-range {
    input {
      width: 100%;
    }
  }
}
