.chat-base-layout {
  display: grid;
  grid-template-columns: 0.2fr 1fr; //previous 0.2fr 0.5fr 0.3fr
  padding: 0vw 1vw;

  .base-layout-nav-sideBar {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  .base-layout-content {
    margin: 1vw;
    flex: 1;

    .base-layout-container {
      width: 100%;
      height: 100%;
    }
  }


}
