.studio-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 70% 30%;
  .studio-header {
    padding: 1vw;
    font-size: 2vw;
    font-weight: 600;
  }
}
.studio-layout {
  height: 100%;
  position: relative;
  .category {
    display: grid;
    grid-template-columns: 10% 40% 10% 10% 20% 10%;
    margin-top: 0.2vw;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
  }
  .studio-items {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 10px;
  }
  .number-pagination-wrapper {
    gap: 2vw;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
