.video-recorder-wrapper {
  padding: 1vw;

  .video-recorder-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1vw;

    .video-recorder-title {
      padding-bottom: 1vw;
    }

    .video-recorder {
      width: 64vw;
    }
  }




  .video-recorder-buttons {
  display: flex;
    align-items: center;
    justify-content: center;

    .video-recorder-button {
      width: 40%;
    }
  }
}
