.videoViewPanel-wrapper {
  display: flex;
  gap: 1vw;

  .panel {
    display: flex;
    padding: 0.8vw 1vw;
    gap: 0.5vw;
    border-radius: 35%;
    align-items: center;
    cursor: pointer;

    .panel-icon {
      width: 2vw;
      height: 2vw;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .reaction-active {
      background-color: #e6e6ff;
    }
  }
  .panel-reaction {
    gap: 0.1vw;
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 0;
    border-radius: 35%;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: hsla(0, 0%, 50%, 0.25);
    }

    .panel-reaction-like {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 0.5vw;
      justify-content: center;
      border-radius: 35% 0% 0% 35%;
      svg {
        width: 1.5vw;
        height: 1.5vw;
      }
    }

    .panel-reaction-dislike {
      display: flex;
      align-items: center;
      width: 3.5vw;
      width: 100%;
      height: 100%;
      justify-content: center;
      gap: 0.5vw;
      border-radius: 0% 35% 35% 0%;
      svg {
        width: 1.5vw;
        height: 1.5vw;
      }
    }
  }
}
