.videoViewPanel-wrapper {
  .panel-reaction {
    .panel-reaction-like {
      svg {
        width: 2vw;
        height: 2vw;
      }
    }
    .panel-reaction-line {
    }
    .panel-reaction-dislike {
      svg {
        width: 2vw;
        height: 2vw;
      }
    }
  }
}
