.studio-item-wrapper {
  display: grid;
  grid-template-columns: 10% 40% 10% 10% 20% 10%;
  align-items: center;
  padding: 0.3vw 0vw;
  cursor: pointer;
  border-top: 0.1vw solid #3d3d3d;
  border-bottom: 0.1vw solid #3d3d3d;
  margin: 0.5vw 0vw;

  &:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
}
