.chat-desktop-input-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 0.05fr 0.75fr 0.2fr;
  justify-items: center;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  height: 7vw;
  border-radius: 0 0 1vw 1vw;
  border-top: 1px solid rgb(149 157 165 / 51%);
  gap: 1vw;

  .chat-desktop-clip {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    position: relative;

    span {
      svg {
        width: 100%;
        height: 100%;
      }

      &:hover {
        svg {
          path {
            transition: 0.3s ease all;
            fill: #27AE60
          }
        }
      }
    }

  }

  .chat-desktop-input {
    background: #FAFAFA;
    border-radius: 12px;
    border: none;
    padding: 1vw;
    height: 3vw;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.22);
    }

    &:focus {
      outline: none;
    }
  }
}
