.profile-picture-wrapper {
  width: 4.16vw;
  height: 4.16vw;

  .profile-picture {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    svg {
      width: 4.16vw;
      height: 4.16vw;
    }
  }
}
